<ion-header>
  <ion-navbar>
    <ion-title>{{'Coupons' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
   <ion-card>
    <img src="assets/img/coupone-1.jpg"/>
       <div *ngIf="coupon1MsgOn === true"  class="coupon-msg"> {{ couponMsg }} </div>
    <button *ngIf="coupon1MsgOn === false"  (click)="coupon1MsgOn = true;" ion-button block>Redeem coupons for 10 tokens</button>
  </ion-card>

  <ion-card>
    <img src="assets/img/coupone-2.jpg"/>
      <div *ngIf="coupon2MsgOn === true" class="coupon-msg">{{ couponMsg }} </div>
    <button *ngIf="coupon2MsgOn === false" (click)="coupon2MsgOn = true;" ion-button block>Redeem coupons for 15 tokens</button>
  </ion-card>

  <ion-card>
    <img src="assets/img/coupone-3.jpg"/>
      <div *ngIf="coupon3MsgOn === true" class="coupon-msg">{{ couponMsg }} </div>
    <button *ngIf="coupon3MsgOn === false" (click)="coupon3MsgOn = true;" ion-button block>Redeem coupons for 20 tokens</button>

  </ion-card>
</ion-content>